.container {
  display: flex;
}

.video {
  height: auto;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .video {
    max-width: 100vw;
  }
}
@media screen and (min-width: 1025px) {
  .video {
    max-width: 1024px;
  }
}
