.container {
  display: flex;
}

.item {
  flex-grow: 1;
  flex-shrink: 1;
  opacity: 1;
  transition-duration: 300ms;
  transition-property: opacity;
  transition-timing-function: linear;

  &:hover {
    opacity: 0.8;
  }
}

.itemInner {
  display: flex;
  gap: 8px;
  width: 100%;
}

.thumbnail {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.offerLabel {
  left: 0;
  margin: 4px;
  position: absolute;
  top: 0;
}

.details {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  padding: 8px 4px;
}

.itemName {
  -webkit-box-orient: vertical;
  color: #222222;
  display: -webkit-box;
  -webkit-line-clamp: line;
  overflow: hidden;
}

.itemPrice {
  color: #222222;
  font-size: 0.875rem;
}

.controller {
  align-items: center;
  display: flex;
  gap: 16px;
  padding: 4px 8px;
}


.counter {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
}

.counterInput {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-left: 4px;
  padding: 4px 8px;
  width: 64px;

  &::placeholder {
    color: #999999;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 4px;
  }

  .thumbnail {
    width: 50%;
  }

  .controller {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    flex-direction: row;
    gap: 8px;
  }

  .thumbnail {
    width: 250px;
  }

  .controller {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: flex-start;
  }
}